*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  :root {
    --primary-light-hsl: 200, 100%, 91%;
    --primary-hsl: 200, 100%, 50%;
    --primary-dark-hsl: 200, 100%, 6%;
    --success-hsl: 100, 60%, 50%;
    --error-hsl: 0, 60%, 50%;
  }
  
  body {
    margin: 0;
  }
  
  .full-screen-container {
    background-image: url("../files/landscape1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    /* height: 1000px; */
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    --color: hsl(var(--primary-dark-hsl), .7);
    background-color: var(--color);
    box-shadow: 0 0 15px 0 var(--color);
    padding: 40px 30px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    margin:30px 0;
  }

  .input-file{
    text-align:center;
    padding:3%;
    /* border:thin solid black; */
    border-bottom:1px solid hsl(var(--primary-hsl));
    border-radius: .25em;
  }

  #inputTag{
    display: none;
  }
  label{
    cursor:pointer;
    color: hsl(var(--primary-light-hsl), 1);
    margin-bottom: 5px;
  }
  #imageName{
    color:green;
  }

  .h4{
    margin: 0;
    color: rgb(191, 191, 191);
    text-align: center;
    font-size: 0.75rem;
    font-weight: normal;
  }
  .login-title {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }


  .input-group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
  }

  .input-group h4{
    margin: 0;
    padding: 0;
    color: hsl(var(--primary-light-hsl), 1);
    padding-left: 5px;
  }

  .input-group textarea {
    font-size: 1.25rem;
    padding: .5em;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    border-radius: .25em;
    color: white;
    font-weight: lighter;
    border-bottom:1px solid hsl(var(--primary-hsl));
    width:100%;resize:none;min-height:100px;

  }
  
  .input-group input , .input-group1 input{
    font-size: 1.25rem;
    padding: .5em;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    border-radius: .25em;
    color: white;
    font-weight: lighter;
    border-bottom:1px solid hsl(var(--primary-hsl));
  }
  
  .input-group.success input {
    border-bottom:1px solid hsl(var(--success-hsl)) !important;
  }
  
  .input-group.error input {
    border-bottom:1px solid hsl(var(--error-hsl)) !important;
  }
  
  .input-group input:focus {
    border-bottom:1px solid hsl(var(--primary-hsl)) !important;
  }
  
  .input-group .msg {
    display: none;
    font-size: .75rem;
  }
  
  .input-group.success .msg,
  .input-group.error .msg {
    display: block;
  }
  
  .input-group.error .msg {
    color: hsl(var(--error-hsl));
  }
  
  .input-group.success .msg {
    color: hsl(var(--success-hsl));
  }
  
  .send-button {
    padding: .5em 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    background-color: hsl(var(--primary-hsl), .25);
    border: 1px solid hsl(var(--primary-hsl));
    border-radius: .25em;
    outline: none;
    cursor: pointer;
  }
  
  .send-button:hover,
  .send-button:focus {
    background-color: hsl(var(--primary-hsl), .4);
  }

  .rating{
    display: flex;
    flex-direction: row;
    gap: 0px;
  }
  

  #add_button {
    padding: .5em 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    background-color: rgba(7, 99, 0, 0.5);
    border: 1px solid rgba(7, 99, 0, 0.6);
    border-radius: .25em;
    outline: none;
    cursor: pointer;
    text-align: center;
  }

  #add_button:hover,
  #add_button:focus {
    background-color: rgba(7, 99, 0, 0.6);
  }

  .trash{
    margin-left: 10px;
    fill: rgb(59, 19, 19);
    cursor: pointer;
  }

  .trash:hover,
  .trash:focus {
    fill: rgb(130, 0, 0);
  }


  #skip_button {
    padding: .5em 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    background-color: rgba(99, 16, 0, 0.5);
    border: 1px solid rgba(99, 16, 0, 0.6);
    border-radius: .25em;
    outline: none;
    cursor: pointer;
    text-align: center;
  }

  #skip_button:hover,
  #skip_button:focus {
    background-color: rgba(99, 16, 0, 0.6);
  }

  .checkbox-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .checkbox-div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .checkbox-div .typeline1 p{
    margin: 0;
    padding: 0;
    color: hsl(var(--primary-light-hsl), 1);
    padding-left: 5px;
  }

  .job-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:40px;
  }